.card {
  width: 350px;
  height: 300px;
  box-shadow: 5px 2px 15px lightgray;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
img {
  width: 100%;
  height: 175px;
}
p {
  margin-top: 30px;
  font-size: 17px;
  margin-left: 15px;
}
